.Title {
  margin-top: 20px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);

  display: flex;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-weight: bold;
}

.form-popup {

  display: flex;
  justify-content: center;

  border: 3px solid #f1f1f1;
}

.form-container {

  max-width: 300px;
  padding: 10px;
  background-color: white;
}

.form-container input[type="text"],
.form-container input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-container input[type="text"]:focus,
.form-container input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn {
  background-color: #85b2fa;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.7;
}

.form-container .cancel {
  background-color: red;
}

.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}
