<div class="form-popup" id="myForm">
  <div fxLayout.axis="column" class="layout">
  <form action="/action_page.php" class="form-container">
    <h1 class="Title">Add User</h1>
    <label for="username"><b>User Name</b></label>
    <input type="text" placeholder="Enter UserName" name="username" required />

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required />
    <label for="contact_number"><b>Contact Number</b></label>
    <input
      type="text"
      placeholder="Enter Phone Number"
      name="contact_number"
      required
    />

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required />

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/users"
      ><button type="submit" class="btn">ADD</button></a
    >
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/users"
      ><button type="submit" class="btn cancel">CLOSE</button></a
    >
  </form>
  </div>
</div>
