<div class="container">
  LOG IN
  <div fxLayout="row" fxLayoutAlign="center center" class="login-main">
    <mat-card class="card">
      <mat-card-header class="title">
        <mat-card-title>Login</mat-card-title>
      </mat-card-header>
      <div class="logo">
        <img src="assets/Asset 10.png" />
        <img src="assets/Asset 10.png" />
      </div>
      <div class="icon"><mat-icon class="icon">lock </mat-icon></div>
      <mat-card-content fxLayout="row" class="content">
        <div class="email-container">
          <mat-form-field class="email">
            <input
              type="email"
              matInput
              placeholder="email"
              class="email-input"
            />
          </mat-form-field>
        </div>

        <div class="pw-container">
          <mat-form-field class="pw">
            <input
              type="password"
              matInput
              placeholder="password"
              class="pw-input"
            />
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions class="btn">
        <button
          mat-raised-button
          routerLinkActive="list-item-active"
          routerLink="/"
          class="btn"
        >
          Login
        </button>
      </mat-card-actions>
      <div class="change_psw">change password</div>
    </mat-card>
  </div>
</div>
