.Title {
  margin-top: 20px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-weight: bold;
}


button {
  width: 100px;
  cursor: pointer;
}



input {

  font-size: 14px;


}

.table-header {
  height: 20px;
  margin-top: 2em;
  background-color: #a0c4ff;
  color: white;
  border-radius: 4px;
  padding: 20px 20px;
}

.user {
  font-size: medium;
  padding-left: 20px;
  padding-right: 20px;
  @media (max-width: 768px) {
    font-size: 12px;
  }
}

.content {
  padding: 10px 100px 10px 10px;
}

.card {
  display: flex;
  height: 20px;
  width: 100%;
  align-items: center;
  margin-top: 2em;
  margin-left: 0;
  padding: 20px 4px;
  justify-content: space-between;
}

.user-icon {
  display: flex;
  font-size: 36px;
  padding-top: 0.5em;
  justify-content: space-between;
}

.user-name {
  font-size: medium;
  display: flex;
  justify-content: space-around;
  margin-left: 1em;
}

.booking-today {
  font-size: medium;
  display: flex;
  justify-content: space-between;
  margin-left: 2em;
}

.last-activity {
  font-size: medium;
  display: flex;
  justify-content: space-between;
  margin-left: 3em;
}

.user-detail {
  font-size: 10px;
  font-family: sans-serif;
}

.description {
  display: none;
}

.detail {
  display: flex;
  justify-content: space-between;
  padding-top: -1em;
  text-decoration: none;
  padding-right: 50px;
}

.material-icons.md-46 {
  font-size: 46px;
  padding-top: 4px;
}

.list {
  list-style-type: none;
}

.submit {
  cursor: pointer;

  &:hover {
    color: #7babfa;
  }
}

mat-icon {
  color: #a0c4ff;
}

button {
  background-color: #a0c4ff;
  color: white;

  &:hover {
    background-color: #7babfa;
  }
}
